@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montaga&family=Open+Sans:wght@400;500;700&display=swap');

#overlay {
    display: none;
    background-color: #000000;
    opacity: 0.4;
    position: fixed;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
}

.header {
    max-width: 1920px;
}

.header-top {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.header-top__logo {
    width: 252px;
    height: 54px;
}

@media (max-width:1025px) {
    .header-top {
        padding: 10px;
    }

    .header-top__logo {
        width: 144px;
        height: 31px;
    }
}

.header-top__search {
    width: 612px;
    height: 38px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-indent: 15px;
    font: normal normal 300 16px/22px 'Open Sans';
    color: #43464D;
}

@media (max-width:1025px) {
    .header-top__search {
        width: 340px;
        height: 38px;
    }
}

.header-top__login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-top__imgs {
    width: 25px;
    height: 25px;
}

.header-top__text {
    font: normal normal 300 14px/16px 'Open Sans';
}

.header-top__desktop {
    display: block;
}

@media (max-width:1025px) {
    .header-top__text {
        display: none;
    }

    .header-top__desktop {
        display: none;
    }
}

.header-top__mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.header-top__mobile-top {
    display: flex;
    justify-content: space-between;
}

.header-top__mobile-top__left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-top__mobile-top__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 39px;
    background-color: #000000;
}

.header-menu__bar {
    width: 25px;
    height: 25px;
}

.header-menu__products {
    display: flex;
    align-items: center;
    gap: 90px;
}

.deskmenu {
    gap: 10px;
}

@media (max-width:1025px) {
    .header-menu {
        overflow: scroll;
    }
    .header-menu__products {
        width: 100%;
        gap: 20px;
    }
    .deskmenu {
        display: none;
    }
}

.header-menu__products-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font: normal normal normal 14px/39px 'Montaga';
}

@media (max-width:1025px) {
    .header-menu__products-text {
        font: normal normal normal 14px/15px 'Montaga';
    }
}


.header-menu__products-hover {
    padding: 0 20px;
}

.header-menu__products-hover:hover {
    background-color: #D5A432;
}

#header-menu__products-text > div {
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font: normal normal normal 14px/39px Montaga;
    cursor: pointer;
    padding: 0 20px;
}

@media (max-width:1025px) {
    #header-menu__products-text {
        display: none;
    }
}

#header-menu__products-text:hover {
    background-color: #D5A432;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: #000000;
    margin-top: 30px;
    padding: 40px 0;
}

@media (max-width:1025px) {
    .footer {
        flex-direction: column;
    }
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 15%;
}


.footer-left__logo {
    width: 200px;
    height: 50px;
}


.footer-left__text {
    font: normal normal 300 13px/18px 'Open Sans';
    color: #fff;
}

@media (max-width:1025px) {
    .footer-left {
        justify-content: center;
        width: 100%;
        padding: 10px;
        align-items: center;
    }

    .footer-left__logo {
        width: 250px;
        height: 51px;
    }

    .footer-left__text {
        text-align: center;
        font: normal normal 300 14px/17px 'Open Sans';
    }
}

.footer-text {
    font: normal normal 300 16px/18px 'Open Sans';
    color: #fff;
}

.footer-left__media {
    display: flex;
    gap: 7px;
}

@media (max-width:1025px) {
    .footer-text {
        display: none;
    }

    .footer-left__media-img {
        display: none;
    }

    .titledesk {
        display: none;
    }
}

.footer-lists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15%;
}


.footer-title {
    font: normal normal normal 16px/18px Montaga;
    color: #D5A330;
    text-transform: uppercase;
}

.footer-contact {
    display: flex;
    gap: 5px;
}

@media (max-width:1025px) {
    .footer-lists {
        width: 100%;
        border-bottom: 2px solid #fff;
        padding: 10px;
        gap: 0;   
    }
}

.footer-contact__img {
    width: 14px;
    height: 14px;
}


.footer-right__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-right {
    display: flex;
    flex-direction: column-reverse;
}

@media (max-width:1025px) {
    .footer-right__content {
        padding: 10px;
    }

    .footer-contact__img {
        display: none;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

@media (max-width:1025px) {
    .footer-bottom {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
}

.footer-bottom__text {
    color: #6D6E70;
    font: normal normal 300 14px/18px 'Open Sans';
}

@media (max-width:1025px) {
    .footer-bottom__text {
        text-align: center
    }

    .footer-bottom__img {
        width: 89px;
        height: 21px;
    }
}

.footer-bottom__right {
    display: flex;
    gap: 20px;
}

.footer-left__mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 10px;
}

.footer-title__mobile {
    font: normal normal normal 16px/18px Montaga;
    color: #D5A330;
    text-transform: uppercase;
}

.footer-left__media-mobile {
    display: flex;
    gap: 7px;
}

.footer-lists__mobile {
    display: flex;
    justify-content: space-between;
}

@media (min-width:1026px) {
    .footer-left__mobile {
        display: none;
    }
    .footer-left__media-mobile {
        display: none;
    }
    .footer-title__mobile {
        display: none;
    }
    .footer-lists__mobile {
        display: none;
    }
}

.menu {
    position: absolute;
    z-index: 99;
    background-color: #fff;
    width: 30%;
    left: -30%;
    transition: ease-in-out .3s;
}

@media (max-width:1025px) {
    .menu {
        width: 90%;
        left: -90%;
    }
}

.menu.active {
    left: 0;
}

.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 48px;
    padding: 15px;
    color: #fff;
}

.menu-title__box {
    display: flex;
    gap: 5px;
}

.menu-title__text {
    font: normal normal bold 18px/15px 'Open Sans';
}

.menu-title__close {
    text-decoration: underline;
    font: normal normal 300 13px/15px 'Open Sans';
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-bottom: solid 1px #6D6E70;
}

.menu-items__title {
    font: normal normal bold 18px/15px 'Open Sans';
    color: #41444B;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
}

.menu-item__text {
    color: #6D6E70;
    font: normal normal 300 14px/15px 'Open Sans';
}

.menu-item__open {
    color: orange;
}

