<div class="nav-default-header__bounds categories-container">
  <ul class="categories-items">
      <li class="category-items__item all-categories open-menu" id="menu-button">
        {{> explorer/views/partials/menu}}
        <span class="category-items__link">Todos os Departamentos</span>
      </li>
        {{> explorer/views/partials/all-departments}}

      <li class="category-items__item">
        <a class="category-items__link" href="/relogios_DisplayType_G">Relógios</a>
      </li>
      <li class="category-items__item">
        <a class="category-items__link" href="/kits_DisplayType_G">Kits</a>
      </li>    
      <li class="category-items__item">
        <a class="category-items__link" href="/marcas_DisplayType_G">Marcas</a>
      </li>    
  </ul>  
</div>