<form class="search-form__container" id="search-form" novalidate="">
    <input class="search-form__input nav-search-input" type="text" placeholder="O que você procura?" id="search-input" required="" autocomplete="off">
    <button type="submit" class="search-form__button" id="nav-search-button">
        {{> explorer/views/partials/search}}
    </button>
</form>
